main {
    display: flex;
    flex-wrap: wrap;
}

section {
    padding: 32px 0;
}

section:last-child {
    border: none;
}

section h2 {
    margin: 8px 0;
    font-family:"Rock Salt", cursive;
    letter-spacing: 2px;
    font-size: 16px;
}

@media (min-width: 768px) {
    section {
        width: 50%;
    }

    section:nth-of-type(1) {
        width: 100%;
    }
    
    section:nth-of-type(2) {
        padding-right: 8px;
    }
    
    section:nth-of-type(3) {
        padding-left: 8px;
    }
}