section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

img {
    max-width: 320px;
    height: auto;
    margin: 16px 0;
}